<ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">

  <li class="flex flex-row sm:flex-col drop-shadow-md bg-white/5 rounded-xl border border-white/20 overflow-hidden">
    <img src="./assets/images/speaker-1.jpg" class="w-32 object-cover sm:w-full" alt="speaker portrait">
    <div class="p-4">
      <h5 class="font-mono text-xl">Lucas Graystone</h5>
      <h6 class="text-white/70 mb-2">AI and Cyber Defense Expert</h6>
      <p>Lucas specializes in leveraging AI to combat emerging cyber threats.</p>
    </div>
  </li>

  <li class="flex flex-row sm:flex-col drop-shadow-md bg-white/5 rounded-xl border border-white/20 overflow-hidden">
    <img src="./assets/images/speaker-1.jpg" class="w-32 object-cover sm:w-full" alt="speaker portrait">
    <div class="p-4">
      <h5 class="font-mono text-xl">Lucas Graystone</h5>
      <h6 class="text-white/70 mb-2">AI and Cyber Defense Expert</h6>
      <p>Lucas specializes in leveraging AI to combat emerging cyber threats.</p>
    </div>
  </li>

  <li class="flex flex-row sm:flex-col drop-shadow-md bg-white/5 rounded-xl border border-white/20 overflow-hidden">
    <img src="./assets/images/speaker-1.jpg" class="w-32 object-cover sm:w-full" alt="speaker portrait">
    <div class="p-4">
      <h5 class="font-mono text-xl">Lucas Graystone</h5>
      <h6 class="text-white/70 mb-2">AI and Cyber Defense Expert</h6>
      <p>Lucas specializes in leveraging AI to combat emerging cyber threats.</p>
    </div>
  </li>

  <li class="flex flex-row sm:flex-col drop-shadow-md bg-white/5 rounded-xl border border-white/20 overflow-hidden">
    <img src="./assets/images/speaker-1.jpg" class="w-32 object-cover sm:w-full" alt="speaker portrait">
    <div class="p-4">
      <h5 class="font-mono text-xl">Lucas Graystone</h5>
      <h6 class="text-white/70 mb-2">AI and Cyber Defense Expert</h6>
      <p>Lucas specializes in leveraging AI to combat emerging cyber threats.</p>
    </div>
  </li>

  <li class="flex flex-row sm:flex-col drop-shadow-md bg-white/5 rounded-xl border border-white/20 overflow-hidden">
    <img src="./assets/images/speaker-1.jpg" class="w-32 object-cover sm:w-full" alt="speaker portrait">
    <div class="p-4">
      <h5 class="font-mono text-xl">Lucas Graystone</h5>
      <h6 class="text-white/70 mb-2">AI and Cyber Defense Expert</h6>
      <p>Lucas specializes in leveraging AI to combat emerging cyber threats.</p>
    </div>
  </li>

  <li class="flex flex-row sm:flex-col drop-shadow-md bg-white/5 rounded-xl border border-white/20 overflow-hidden">
    <img src="./assets/images/speaker-1.jpg" class="w-32 object-cover sm:w-full" alt="speaker portrait">
    <div class="p-4">
      <h5 class="font-mono text-xl">Lucas Graystone</h5>
      <h6 class="text-white/70 mb-2">AI and Cyber Defense Expert</h6>
      <p>Lucas specializes in leveraging AI to combat emerging cyber threats.</p>
    </div>
  </li>

</ul>