<nav class="flex justify-between align-middle px-8 bg-white/5 backdrop-blur-md">
  <h2 class="text-lg md:text-2xl flex items-center">
    <a href="./index.html">CyberShield 2025</a>
  </h2>
  <ul class="flex items-stretch">
    <li class="hover:bg-white/10"><a class="flex align-middle justify-center py-6 px-3 md:px-6" href="./speakers.html">Speakers</a></li>
    <li class="hover:bg-white/10"><a class="flex align-middle justify-center py-6 px-3 md:px-6" href="./contact-form.html">Contact us</a></li>
  </ul>
</nav>